{% extends 'layout.html.twig' %}

{% block body %}
<!-- ========================= header start ========================= -->
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                  <ul id="nav" class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="page-scroll" href="#home"><i class="lni lni-home"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#about">A propos</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#skills">Compétences</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#blog">Articles</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#contact"><i class="lni lni-telegram-original"></i></a>
                    </li>
                  </ul>
                </div>
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ========================= header end ========================= -->

    <!-- ========================= Start first section ========================= -->
    <section id="home" class="hero-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay=".2s">Laborie Anthony</h1>
              <p class="wow fadeInUp" data-wow-delay=".4s">
                Développement de sites web et d'applications<br>
                En alternance avec OpenClassrooms - Limoges
              </p>
               <a class="main-btn btn-hover wow fadeInUp page-scroll" href="#about" rel="nofollow" data-wow-delay=".6s">En savoir plus</a>
               <a class="main-btn main-btn-blue btn-hover wow fadeInUp" target="_blank" href="#about" rel="nofollow" data-wow-delay=".6s">Voir mon CV</a>
            </div>
					</div>
					<div class="col-lg-12">
						<div class="hero-img wow fadeInUp" data-wow-delay=".5s">
							<img src="assets/img/hero/hero-agl-img.svg" alt="">
						</div>
					</div>
        </div>
      </div>
    </section>
    <!-- ========================= End first section ========================= -->

    <!-- ========================= Start About Me ========================= -->
    <section id="about" class="pt-130">
			<div class="container">
				<div class="profil">
                    <div class="col-md-6 profil-img wow fadeInUp" data-wow-delay=".8s" style="background-image: url('assets/img/about/profil.jpg')"></div>
					<div class="col-md-6 profil-data">
						<h2>Qui suis-je ?</h2><br>
						<p class="wow fadeInUp" data-wow-delay=".5s">LABORIE Anthony, 20 ans, <b>étudiant en alternance avec OpenClassrooms</b>.
							<br>D'abord intéressé par l'infographie, je découvre au collège des langages de programmation comme le PHP qui me passionnent.
							<br>Voulant développer des applications et sites web pour des entreprises, j'ai choisi de suivre la formation <b>PHP/Symfony</b> d'OpenClassrooms après mon <b>BTS SIO</b> (Service Informatique aux Organisations).
							<br>Passionné de sports autos depuis jeune, j'ai fondé une association avec un ami d'enfance pour participer à des rallyes comme le 4L Trophy en 2021. Cette manifestation nous permettra aussi de faire une action solidaire en aidant deux associations : "Le 4L solidaire" & "Les enfants du désert".
						</p>
					</div>
                </div>
				<div style="clear:both"></div>
			</div>
	</section>
    <!-- ========================= End About Me ========================= -->

    <!-- ========================= Start quotation & langages ========================= -->
    <section id="features" class="service-section pt-150">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-9">
						<div class="service-content">
                            <svg class="quote" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path fill="#286ade" d="M953.2,205.8c12.3-6.1,24.5-18.4,36.8-30.6l-73.6-85.8c-239,153.2-380,318.7-422.9,496.5c-12.3,49-24.5,141,18.4,208.4c0,0,0,0,0,6.1c6.1,6.1,6.1,12.3,12.3,18.4c6.1,6.1,12.3,18.4,18.4,24.5l0,0c6.1,6.1,18.4,18.4,24.5,24.5c6.1,0,6.1,6.1,12.3,6.1c6.1,6.1,12.3,6.1,18.4,12.3c24.5,12.3,55.2,18.4,85.8,18.4c110.3,0,202.3-91.9,202.3-202.3c0-110.3-91.9-202.3-202.3-202.3C720.3,408.1,806.1,310,953.2,205.8z"/>
                                    <path fill="#286ade" d="M481.3,205.8c12.3-6.1,24.5-18.4,36.8-30.6l-73.6-79.7c-239,153.2-380,318.7-422.9,496.5C9.3,641-3,732.9,39.9,800.3c0,0,0,0,0,6.1c6.1,6.1,6.1,12.3,12.3,18.4c6.1,6.1,12.3,18.4,18.4,24.5l0,0c6.1,6.1,18.4,18.4,24.5,24.5c6.1,0,6.1,6.1,12.3,6.1c6.1,6.1,12.3,6.1,18.4,12.3c24.5,12.3,55.2,18.4,85.8,18.4c110.3,0,202.3-91.9,202.3-202.3c0-110.3-91.9-202.3-202.3-202.3C248.3,408.1,334.2,310,481.3,205.8z"/></g>
                                </svg>
							<div class="section-title">
								<h1 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Tout le monde devrait apprendre à programmer. Apprendre un langage de programmation, c’est apprendre à penser.</h1>
								<p class="mb-40 wow fadeInUp" data-wow-delay=".4s">Steve JOBS - Co-fondateur Apple </p>
								<a href="javascript:void(0)" class="main-btn btn-hover border-btn wow fadeInUp" data-wow-delay=".6s">Voir mes travaux</a>
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-xl-6">
						<div class="row">
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
                                        <svg height="58" width="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                                <path fill="#286ade" d="M320 104.5c171.4 0 303.2 72.2 303.2 151.5S491.3 407.5 320 407.5c-171.4 0-303.2-72.2-303.2-151.5S148.7 104.5 320 104.5m0-16.8C143.3 87.7 0 163 0 256s143.3 168.3 320 168.3S640 349 640 256 496.7 87.7 320 87.7zM218.2 242.5c-7.9 40.5-35.8 36.3-70.1 36.3l13.7-70.6c38 0 63.8-4.1 56.4 34.3zM97.4 350.3h36.7l8.7-44.8c41.1 0 66.6 3 90.2-19.1 26.1-24 32.9-66.7 14.3-88.1-9.7-11.2-25.3-16.7-46.5-16.7h-70.7L97.4 350.3zm185.7-213.6h36.5l-8.7 44.8c31.5 0 60.7-2.3 74.8 10.7 14.8 13.6 7.7 31-8.3 113.1h-37c15.4-79.4 18.3-86 12.7-92-5.4-5.8-17.7-4.6-47.4-4.6l-18.8 96.6h-36.5l32.7-168.6zM505 242.5c-8 41.1-36.7 36.3-70.1 36.3l13.7-70.6c38.2 0 63.8-4.1 56.4 34.3zM384.2 350.3H421l8.7-44.8c43.2 0 67.1 2.5 90.2-19.1 26.1-24 32.9-66.7 14.3-88.1-9.7-11.2-25.3-16.7-46.5-16.7H417l-32.8 168.7z"/>
                                            </svg>
                                    </div>
									<div class="content">
										<h3>PHP</h3>
										<p>Idéal pour le back-end</p>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height="58" width="64" viewBox="0 0 512 512">
                                        <g>
                                        </g>
                                        	<path fill="#286ade" d="M453.499 256.676c0-20.459-3.164-40.263-8.899-58.819l-88.177 228.833c58.082-34.365 97.075-97.618 97.075-170.014z"/>
                                        	<path fill="#286ade" d="M193.628 443.884c19.63 6.594 40.642 10.137 62.526 10.137 22.866 0 44.769-3.87 65.188-11.029l-60.242-156.18-67.471 157.072z"/>
                                        	<path fill="#286ade" d="M66.837 200.888c-5.212 17.684-8.059 36.403-8.059 55.787 0 73.954 40.714 138.393 100.894 172.155l-92.231-226.703-0.604-1.239z"/>
                                        	<path fill="#286ade" d="M167.383 188.16l-8.478-0.379c-18.494-0.307-16.446 18.893-16.446 18.893l65.618 164.577 44.114-105.37-24.627-62.7c-9.861-16.578-33.925-16.404-33.925-16.404v-8.734h137.974l-0.205 9.687-14.356 0.891c-17.879 0-14.264 17.008-14.264 17.008l59.873 159.939 17.162-44.288c30.443-69.017 11.663-120.094 11.663-120.094-30.485-62.72 8.038-71.721 8.038-71.721 2.437-0.348 4.721-0.542 6.963-0.645-36.199-42.537-90.122-69.519-150.323-69.519-81.398 0-151.316 49.326-181.474 119.706l92.365-0.952 0.327 10.107z"/>
                                        	<path fill="#286ade" d="M477.839 256.021c0 122.306-99.522 221.839-221.798 221.839-122.338 0-221.86-99.533-221.86-221.839 0-122.338 99.522-221.829 221.86-221.829 122.276 0.010 221.798 99.492 221.798 221.829zM256.041 23.972c-127.939 0-232.048 104.11-232.048 232.059s104.11 232.007 232.048 232.007c127.918 0 231.957-104.059 231.957-232.007 0-127.949-104.038-232.059-231.957-232.059z"/>
                                        </svg>									
									</div>
									<div class="content">
										<h3>Wordpress</h3>
										<p>Idéal pour les sites web</p>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<svg height="58" width="64" viewBox="0 0 256 257" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                                        	<g>
                                        		<circle fill="#286ade" cx="128" cy="128.827077" r="128"></circle>
                                        		<path class="text" fill="#fff" d="M183.7056,48.1240615 C170.720492,48.5769846 159.3856,55.7331692 150.949415,65.6344615 C141.607385,76.4888615 135.392492,89.3636923 130.914462,102.506338 C122.903631,95.9409231 116.724185,87.4417231 103.872985,83.7356308 C93.9401846,80.8841846 83.5072,82.0617846 73.9131077,89.2100923 C69.3681231,92.6050462 66.2370462,97.7368615 64.7483077,102.561477 C60.8925538,115.0976 68.8009846,126.255262 72.3928615,130.260677 L80.2461538,138.677169 C81.8648615,140.327385 85.7639385,144.632123 83.8577231,150.803692 C81.7979077,157.514831 73.7083077,161.858954 65.4099692,159.298954 C61.7038769,158.168615 56.3790769,155.407754 57.5724308,151.520492 C58.0647385,149.929354 59.2029538,148.739938 59.8134154,147.365415 C60.3726769,146.183877 60.6404923,145.297723 60.8098462,144.777846 C62.3261538,139.8272 60.2545231,133.387815 54.9533538,131.753354 C50.0066462,130.237046 44.9457231,131.438277 42.9843692,137.806769 C40.7591385,145.041723 44.2210462,158.172554 62.7672615,163.8912 C84.4957538,170.566892 102.876554,158.735754 105.483815,143.304862 C107.126154,133.639877 102.762338,126.460062 94.7672615,117.224369 L88.2530462,110.020923 C84.3067077,106.078523 82.9518769,99.3595077 87.0360615,94.1961846 C90.4822154,89.8402462 95.3895385,87.9812923 103.427938,90.1671385 C115.160615,93.3533538 120.390892,101.494154 129.118523,108.059569 C125.514831,119.878892 123.159631,131.741538 121.028923,142.379323 L119.729231,150.311385 C113.490708,183.032123 108.729108,200.999385 96.3544615,211.314215 C93.8614154,213.086523 90.2971077,215.741046 84.9250462,215.926154 C82.1090462,216.0128 81.1992615,214.075077 81.1598769,213.232246 C81.0929231,211.255138 82.7588923,210.349292 83.8656,209.4592 C85.5197538,208.557292 88.0206769,207.060677 87.8513231,202.267569 C87.6701538,196.604062 82.9794462,191.6928 76.1974154,191.917292 C71.1168,192.090585 63.3737846,196.871877 63.6652308,205.623138 C63.9684923,214.661908 72.3928615,221.436062 85.0944,221.006769 C91.8843077,220.7744 107.047385,218.0096 121.989908,200.247138 C139.382154,179.885292 144.246154,156.542031 147.904985,139.456985 L151.989169,116.901415 C154.257723,117.173169 156.683815,117.354338 159.322585,117.417354 C180.984123,117.874215 191.818831,106.653538 191.980308,98.4930462 C192.086646,93.5542154 188.738954,88.6941538 184.052185,88.8044308 C180.696615,88.8989538 176.482462,91.1320615 175.470277,95.7715692 C174.481723,100.324431 182.362585,104.432246 176.202831,108.421908 C171.8272,111.253662 163.981785,113.250462 152.9344,111.627815 L154.943015,100.525292 C159.042954,79.4702769 164.099938,53.5709538 183.284185,52.9408 C184.682338,52.8699077 189.7984,53.0038154 189.916554,56.3869538 C189.952,57.5172923 189.672369,57.8048 188.349046,60.3923692 C187.002092,62.4088615 186.494031,64.1260308 186.557046,66.0992 C186.742154,71.4752 190.830277,75.008 196.741908,74.7953231 C204.658215,74.5393231 206.934646,66.8317538 206.804677,62.8736 C206.485662,53.5748923 196.682831,47.6987077 183.7056,48.1240615 L183.7056,48.1240615 Z"></path>
                                        	</g>
                                        </svg>
									</div>
									<div class="content">
										<h3>Symfony</h3>
										<p>Idéal pour les applications</p>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 630 630" height="58" width="64">
                                            <rect width="630" height="630" fill="#286ade"/>
                                            <path d="m423.2 492.19c12.69 20.72 29.2 35.95 58.4 35.95 24.53 0 40.2-12.26 40.2-29.2 0-20.3-16.1-27.49-43.1-39.3l-14.8-6.35c-42.72-18.2-71.1-41-71.1-89.2 0-44.4 33.83-78.2 86.7-78.2 37.64 0 64.7 13.1 84.2 47.4l-46.1 29.6c-10.15-18.2-21.1-25.37-38.1-25.37-17.34 0-28.33 11-28.33 25.37 0 17.76 11 24.95 36.4 35.95l14.8 6.34c50.3 21.57 78.7 43.56 78.7 93 0 53.3-41.87 82.5-98.1 82.5-54.98 0-90.5-26.2-107.88-60.54zm-209.13 5.13c9.3 16.5 17.76 30.45 38.1 30.45 19.45 0 31.72-7.61 31.72-37.2v-201.3h59.2v202.1c0 61.3-35.94 89.2-88.4 89.2-47.4 0-74.85-24.53-88.81-54.075z" fill="#fff" class="text"/>
                                        </svg>
                                    </div>
									<div class="content">
										<h3>JavaScript</h3>
										<p>Idéal pour améliorer l'expérience de l'utilisateur</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
        <!-- ========================= End quotation & langages ========================= -->


   		<!-- ========================= Start Skills ========================= -->
   		<section id="skills" class="pt-130">
			<div class="container">
			<h1 style="text-align: center; margin-bottom: 40px">Mes compétences</h1>
   				<div class="row">
   				    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
   				        <div class="progress" style="background:#f39c12;">
   				            <div class="progress-bar" style="width:70%; background:#c27d0e;">
   				                <div class="progress-value">70%</div>
   				                <div class="progressbar-title">PHP</div>
   				            </div>
   				        </div>
   				        <div class="progress" style="background:#3498db;">
   				            <div class="progress-bar" style="width:70%; background:#2a7aaf;">
   				                <div class="progress-value">70%</div>
   				                <div class="progressbar-title">JavaScript</div>
   				            </div>
   				        </div>
						<div class="progress" style="background:#f39c12;">
   				            <div class="progress-bar" style="width:50%; background:#c27d0e;">
   				                <div class="progress-value">50%</div>
   				                <div class="progressbar-title">Java</div>
   				            </div>
   				        </div>
   				        <div class="progress" style="background:#3498db;">
   				            <div class="progress-bar" style="width:80%; background:#2a7aaf;">
   				                <div class="progress-value">80%</div>
   				                <div class="progressbar-title">HTML & CSS</div>
   				            </div>
   				        </div>
						<div class="progress" style="background:#f39c12;">
   				            <div class="progress-bar" style="width:70%; background:#c27d0e;">
   				                <div class="progress-value">70%</div>
   				                <div class="progressbar-title">Twig</div>
   				            </div>
   				        </div>
   				    </div>
   				    <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
						<div class="progress" style="background:#f39c12;">
   				            <div class="progress-bar" style="width:90%; background:#c27d0e;">
   				                <div class="progress-value">90%</div>
   				                <div class="progressbar-title">Wordpress</div>
   				            </div>
   				        </div>
   				        <div class="progress" style="background:#3498db;">
   				            <div class="progress-bar" style="width:50%; background:#2a7aaf;">
   				                <div class="progress-value">50%</div>
   				                <div class="progressbar-title">Illustrator</div>
   				            </div>
   				        </div>
						<div class="progress" style="background:#f39c12;">
   				            <div class="progress-bar" style="width:50%; background:#c27d0e;">
   				                <div class="progress-value">50%</div>
   				                <div class="progressbar-title">Photoshop</div>
   				            </div>
   				        </div>
   				        <div class="progress" style="background:#3498db;">
   				            <div class="progress-bar" style="width:50%; background:#2a7aaf;">
   				                <div class="progress-value">50%</div>
   				                <div class="progressbar-title">Final Cut</div>
   				            </div>
   				        </div>
						<div class="progress" style="background:#f39c12;">
   				            <div class="progress-bar" style="width:90%; background:#c27d0e;">
   				                <div class="progress-value">90%</div>
   				                <div class="progressbar-title">Bureautique</div>
   				            </div>
   				        </div>
   				    </div>
   				</div>
			</div>
			</section>
   		<!-- ========================= End Skills ========================= -->


	    <!-- ========================= Start Blog ========================= -->
    	<section id="blog" class="pt-130">
			<div class="container">
				<div class="row justify-content-center">
					<h1>Mes articles</h1>
					<div class="cats">
						<div class="see-cats-btn main-btn border-btn wow fadeInUp" id="cat-blog-btn" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Catégories <i class="lni lni-list"></i></div>
						<div id="blog-cats">
							{% for cat in cats %}
								<a onclick="setCatPost(this)" categoryid="{{ cat.id }}" class="set_cat_btn" id="set-cat-btn-{{ cat.id }}">{{ cat.name }} <i class="lni lni-chevron-right"></i></a>
							{% endfor %}
						</div>
						<div class="blog-cats mobile">
							<h3 class="main-btn border-btn wow fadeInUp" data-wow-delay=".6s">Catégories <i class="lni lni-list"></i></h3><br>
							{% for cat in cats %}
								<a onclick="setCatPost(this)" categoryid="{{ cat.id }}" class="set_cat_btn" id="set-cat-btn-mobile-{{ cat.id }}">{{ cat.name }} <i class="lni lni-chevron-right"></i></a><br>
							{% endfor %}
						</div>
					</div>
					<div id="blog-list" class="list row wow fadeInLeft" data-wow-delay=".5s">
					{% set i = 1 %}
					{% for post in posts %}
						<div class="single single-{{ i }} col-lg-6" style="background-image:url('{{domain}}/assets/img/single_post/{{ post.img }}')">
							<div class="infos">
								<div>
									<h2>{{ post.title }}</h2>
									<p class="extract">{{ post.extract }}</p>
									<a href="{{ domain }}/article/{{ post.id }}" class="btn view-more">En voir plus</a>
								</div>
							</div>
						</div>
						{% set i = i+1 %}
					{% endfor %}
					</div>
					<div style="clear:both"></div>
					{# PRELOADER AJAX #}
					 <div class="ajax-preloader" id="preloader-blog-home">
    				  <div class="preloader">
    				    <div class="loader">
    				      <div class="ytp-spinner">
    				        <div class="ytp-spinner-container">
    				          <div class="ytp-spinner-rotator">
    				            <div class="ytp-spinner-left">
    				              <div class="ytp-spinner-circle"></div>
    				            </div>
    				            <div class="ytp-spinner-right">
    				              <div class="ytp-spinner-circle"></div>
    				            </div>
    				          </div>
    				        </div>
    				      </div>
    				    </div>
    				  </div>
    				</div>
	
					<a onclick="seeMorePosts(2)" id="see-more-post-btn" class="see-more-btn main-btn btn-hover border-btn wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Charger plus</a>
				</div>
			</div>
		</section>
    <!-- ========================= End Blog ========================= -->

        <!-- ========================= contact-section start ========================= -->
		<section id="contact" class="contact-section pt-130">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-xl-5">
						<div class="section-title text-center mb-60">
							<h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Me contacter</h1>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-7">
						<div class="contact-wrapper wow fadeInUp" data-wow-delay=".2s">
							<form action="#" method="POST" id="contact-form" class="contact-form">
								<div class="row">
									<div class="col-md-6">
										<div class="single-form">
											<input type="text" name="name" id="name" class="form-input" placeholder="Votre nom">
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-form">
											<input type="email" name="email" id="email" class="form-input" placeholder="Votre email">
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-form">
											<input type="text" name="subject" id="subject" class="form-input" placeholder="Sujet">
										</div>
									</div>
									<div class="col-md-6">
										<div class="single-form">
											<input type="text" name="number" id="number" class="form-input" placeholder="Téléphone">
										</div>
									</div>

									<div class="col-md-12">
										<div class="single-form">
											<textarea name="message" id="message" class="form-input" rows="7" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="submit-btn">
											<button class="main-btn btn-hover" type="submit">Envoyer</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="col-lg-5">
						<div class="contact-img wow fadeInUp" data-wow-delay=".5s">
							<img src="assets/img/contact/contact-img.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= contact-section end ========================= -->

{% endblock %}

{% block javascripts %}
	<script src="{{domain}}/assets/js/ajax-home.js"></script>
{% endblock %}