{% extends 'layout_admin.html.twig' %}

{% block body %}
    <!-- ========================= Start first section ========================= -->
    <section>
      <div class="container">
        <h1 class="title-page">Tous les commentaires</h1>
          <div id="alert-message" class="alert alert-success" role="alert" style="display:none"></div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Statut</th>
                <th scope="col" class="author-cell">Autheur</th>
                <th scope="col">Contenu</th>
                <th scope="col">Gestion</th>
              </tr>
            </thead>
            <tbody id="comments-data-dashboard">
            {% for comment in comments %}
              <tr id="row-comment-{{ comment.id }}">
                <th scope="row">{{ comment.addAt|date("d.m.Y") }}</th>
                {% if comment.commentStatus == "isValid" %}
                    <td id="statut-cell-{{comment.id}}" class="statut-cell valid">Validé</td>
                {% elseif comment.commentStatus == "waiting" %}
                    <td id="statut-cell-{{comment.id}}" class="statut-cell waiting">En attente</td>
                {% else %}
                    <td id="statut-cell-{{comment.id}}" class="statut-cell reject">Rejeté</td>
                {% endif %}
                <td class="author-cell">{{ comment.authorName }}</td>
                <td class="content-cell">{{ comment.content }}</td>
                <td class="buttons-cell">
                  <a class="see" href="{{domain}}/article/{{ comment.post }}" target="_blank"><i class="lni lni-eye"></i></a>
                  <a class="see" onclick="setThisComment({{ comment.id }}, '{{ comment.commentStatus }}')" href="#"><i class="lni lni-pencil-alt"></i></a>
                  <a class="delete" onclick="getDeleteModal({{ comment.id }})" href="#"><i class="lni lni-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {# PRELOADER AJAX #}
		     <div class="ajax-preloader" id="preloader-all-posts" >
    	      <div class="preloader">
    	        <div class="loader">
    	          <div class="ytp-spinner">
    	            <div class="ytp-spinner-container">
    	              <div class="ytp-spinner-rotator">
    	                <div class="ytp-spinner-left">
    	                  <div class="ytp-spinner-circle"></div>
    	                </div>
    	                <div class="ytp-spinner-right">
    	                  <div class="ytp-spinner-circle"></div>
    	                </div>
    	              </div>
    	            </div>
    	          </div>
    	        </div>
    	      </div>
    	    </div>
            </div>
		    <a onclick="seeMoreComments(2)" id="see-more-post-btn" class="see-more-btn main-btn btn-hover border-btn wow fadeInUp" data-wow-delay=".2s" style="display: block; visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp; max-width: 500px; margin: 0 auto">Charger plus</a>				
    </section>
    <!-- ========================= End first section ========================= -->

     <!-- ========================= modal suppression ========================= -->
    <div id="modal-delete-post" class="modal-admin" style="display: none">
      <div class="contact-wrapper content">
        <div class="structure">
            <i class="lni lni-close" onclick="getDeleteModal()"></i>
            <div class="content-form">
              <h2>Êtes vous sûr de vouloir supprimer ce commentaire ?</h2>
              	<div id="login-form" class="contact-form">
                  <br>
					<div class="row">
					    <div class="col-md-12">
					    	<div class="submit-btn">
					    		<button onclick="deleteThisComment()" class="main-btn btn-hover btn-delete">Oui</button>&nbsp;
					    		<button onclick="getDeleteModal()" class="main-btn border-btn btn-hover">Non</button>
					    	</div>
					    </div>
					</div>
				</div>
            </div>
          </div>
      </div>
    </div>
    
     <!-- ========================= modal edition ========================= -->
    <div id="modal-edit-post" class="modal-admin" style="display: none">
      <div class="contact-wrapper content">
        <div class="structure">
            <i class="lni lni-close" onclick="setThisComment()"></i>
            <div class="content-form">
              <h2>Modifier ce commentaire</h2>
              	<div id="login-form" class="contact-form">
                  <br>
					<div class="row">
					    <div class="col-md-12">
					    		<select id="status-edit-comment">
                    <option value="isValid">Validé</option>
                    <option value="waiting">En attente</option>
                    <option value="isReject">Rejeté</option>
                  </select>
                  <div style="height: 30px"></div>
                  <button onclick="updateThisComment()" class="main-btn btn-hover">Modifier</button>
					    	</div>
					</div>
				</div>
            </div>
          </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{domain}}/assets/js/admin/ajax-all-entity-admin.js"></script>
{% endblock %}
