{% extends 'layout_admin.html.twig' %}

{% block body %}
    <!-- ========================= Start first section ========================= -->
    <section>
      <div class="container">
        <h1 class="title-page">Tableau de bord</h1>
        <div class="row">
			  	<div class="col-md-6">
            <div class="result">
              <h1>{{ numberViews }}</h1>
              <p>vus sur tous les articles</p>
            </div>
          </div>
			  	<div class="col-md-6">
            <div class="result">
              <h1>{{ numberComments }}</h1>
              <p>commentaires sur tous les articles</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
          <h2>Commentaires en attente de validation</h2>
          <div id="alert-message" class="alert alert-success" role="alert" style="display:none"></div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col" class="author-cell">Autheur</th>
                <th scope="col">Contenu</th>
                <th scope="col">Gestion</th>
              </tr>
            </thead>
            <tbody id="comments-data-dashboard">
            {% for comment in comments %}
              <tr>
                <th scope="row">{{ comment.addAt|date("d.m.Y") }}</th>
                <td class="author-cell">{{ comment.authorName }}</td>
                <td class="content-cell">{{ comment.content }}</td>
                <td class="buttons-cell">
                  <a class="see" href="{{ domain }}/article/{{ comment.post }}" target="_blank"><i class="lni lni-eye"></i></a>
                  <a class="valid" onclick="setThisComment('isValid',{{ comment.id }})" href="#"><i class="lni lni-checkmark"></i></a>
                  <a class="delete" onclick="setThisComment('isReject',{{ comment.id }})" href="#"><i class="lni lni-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </section>
    <!-- ========================= End first section ========================= -->
{% endblock %}

{% block javascripts %}
<script src="{{domain}}/assets/js/ajax-dashboard-admin.js"></script>
{% endblock %}
